<div class="container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stadium</th>
            <th>Owner</th>
            <th>Foundation</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let t of teamsTab">
            <td>{{t.id}}</td>
            <td>{{t.name | lowercase}}</td>
            <td>{{t.stadium | uppercase}}</td>
            <td>{{t.owner}}</td>
            <td>{{t.foundation}}</td>
            <td>
                <button class="btn btn-success">Display</button>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>